* {
    box-sizing: border-box;
    position: relative;
}

.wrapper {
    width: 1050px;
    height:1680px;
    background-color: rgb(235, 235, 235, .8);
    top: 0px;
    left: 0px;
    margin: 0px auto;
    padding: 10px;
}

.headwrap {
    width: 850px;
    height:400px;
    background-color: white;
    margin: 10px auto;
}

.headwrap .headwrapBG {
    position: absolute;
    background-color: teal;
    height: 85%;
    width: 100%;
}

.headwrap nav {
    width: 50%;
    height: 60px;
    top: 345px;
    left: 220px;
    text-align: center;
}

nav .navbuttons {
    float: left;
    top: 20px;
}

nav .navbuttons .theactualnavbuttons {
    background-color: white;
    border: none;
    font-size: 18px;
    border-left: 1px solid gray;
    margin-top: -5px;
    padding: 5px 10px 10px 10px;
}

nav .navbuttons :first-child {
    border-left: none;
}

nav .navbuttons .theactualnavbuttons:hover {
    border-bottom: 3px solid teal;
    font-weight: lighter;
    color: grey;
}

.headwrap .UserPic {
    background-image: url(../images/UserPic.jpg);
    border: 1px solid black;
    background-repeat: no-repeat;
    background-size: 200px;
    height: 200px;
    width: 200px;
    left: 15px;
    top: 120px;
}

.headwrap .UserName {
    padding: -10px;
    margin: 0px;
    width: 400px;
    top: -10px;
    left: 220px;

}

.headwrap .UserName * {
    color: white;
    margin: 10px;
}

.headwrap .mediabuttons {
    float: right;
    top: -40px;
    right: 10px;
}

.headwrap .mediabuttons .theactualmediabuttons {
    background-color: rgb(235, 235, 235);
    border: 1px solid rgba(0, 0, 0, 0.5);
    padding: 5px 15px;
    display: inline;
    margin: -3px;
    text-align: center;
    font-size: 1.05em;
}

.headwrap .mediabuttons .theactualmediabuttons:first-child {
    margin-right: 10px;
}

.MainWrap {
    width: 850px;
    margin: 10px auto;
}

.MainColumnLeft {
    width: 328px;
    height: 800px;
    margin: 10px 0px 10px 0px;
}

.MainColumnRight {
    width: 512px;
    height: 800px;
    left: 338px;
    top: -810px;
    margin: 10px 0px 10px 0px;
}

.MainWrap .ColumnBoxes {
    background: white;
    border: 1px solid rgba(128, 128, 128, 0.25);
    width: 100%;
    margin: 10px auto;
}

.MainColumnLeft .AboutBox {
    height: 200px;
}

.MainColumnLeft .AddressBox {
    height: 180px;
}

.MainColumnLeft .AppBox {
    height: 300px;
}

.MainColumnLeft .GalleryBox {
    height: 450px;
}

.MainColumnRight .PostBox {
    height: 300px;
}

.MainColumnRight .RecentPost1 {

}

.MainColumnRight .RecentPost2 {

}

.MainColumnRight .RecentPost3 {
    
}

.MainColumnRight .RecentPost4 {
    
}